footer {
    text-align: center;
    background-color: #18945c;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top: 20px;
}

footer:hover {
    cursor: pointer;
    background-color: #1a8654;
    transition: background-color 0.3s ease;
}

footer a {
    color: #87CEEB
}

p {
    color: white;
    transition: opacity 0.3s ease;
}