header {
    text-align: center;
    background-color: #18945c;
    color: white;
}
.header-link:link,
.header-link:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header-link:hover,
.header-link:active {
    background-color: orange;
    transition: all 0.2s ease;
}