.app-footer {
  background-color: rgba(193, 235, 193, 0.75);
  ;
  padding: 1rem 0;
  text-align: center;
  color: #666;
  border-top: 2px solid var(--primary-green);
  margin-top: 2rem;
}

.app-footer.admin-footer {
  background-color: var(--admin-bar);
  border-top: 2px solid var(--primary-green);
  color: #1b5e20;
}