* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navheader {
    background-color: #18945c;
    color: floralwhite;
}

.tablesection {
    background-color: #18945c;
}

table {
    background-color: forestgreen;
    color: #101010;
}

footer {
    background-color: gold;
}

.navlink:link, .navlink:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navlink:hover, .navlink:active {
    background-color: orange;
}

.imagelink:hover, .imagelink:active {
    background-color: transparent;
}